.main-map-image {
	height: 100vh;
    position: relative;
}

.main-map-image > div > div > div {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	height: 2rem;
	width: 2rem;
}

.main-map-image > div > div > div > button {
	border-radius: 50px;
	box-shadow: none !important;
	background: #2399f9 !important;
	border: 1px !important;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
	height: 100%;
	width: 100%;
	transition-duration: 0.5s;
}

.main-map-image > div > div > div > button:hover {
	transform: scale(1.25);
	filter: brightness(75%);
	border: 1px solid white !important;
}